# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code configuration folder
.vscode/

# Ignore PlatformIO build files
.pio

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
